[user]
	name = Tracy Abrahms
	email = tracyabrahms@gmail.com
[core]
	excludesfile = /Users/tracyabrahms/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
    diff = auto
    status = auto
    branch = auto
[rerere]
	enabled = true
